* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    margin: 0 auto;
}
main {
    margin: 0 auto;
    border: 4px solid red;
}
.conteiner {
    margin: 0 auto;
}

.headernav {
    background-color: black;
}
.nav_flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
.navul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}
.navul li {
    padding: 0 20px;
}
.navul a:link {
    text-decoration: none;
    padding: 20px;
    color: white;
}
.navul a:link:hover {
    background-color: #5221E6;
    color: aliceblue;
}
.conteiner h4 {
    color: white;
    font-size: large;
}

#prewrw {
    background-color: black;
}
.prewrw_flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}
.prewrwtext {
    color: white;
    padding: 20px;
}
.prewrw_flex img{
    width: 450px;
}
.prewrwtext h1 {
    font-size: 75px;
    width: 670px;
    text-align: left;
    line-height: 90px;
}
.prewrwtext p {
    font-size: 18px;
    line-height: 27px;
}

.rbworkex {
    margin: 0 auto;
    background-color: black;
}

.text_rbworkex {
    padding: 20px 165px;
}
.text_rbworkex h4{
    color: #8491A0;
    text-transform: uppercase;
}
.text_rbworkex h2 {
    font-size: 55px;
    line-height: 66px;
    font-weight: 700;
    color: white;
}

.ul_rbworkex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rbworkex_tab1, .rbworkex_tab2, .rbworkex_tab3 {
    color: white;
    text-align: left;
}
.rbworkex_tab1 h2{
    font-size: 117px;
    color: #8491A0;
    line-height: 140px;
}
.rbworkex_tab1 p {
    font-size: 24px;
    font-weight: 700;
    padding: 5px 0;
}
.rbworkex_tab2 h2 {
    font-size: 117px;
    color: #8491A0;
    line-height: 140px;
}
.rbworkex_tab2 p {
    font-size: 24px;
    font-weight: 700;
    padding: 5px 0;
}
.rbworkex_tab3 h2 {
    font-size: 117px;
    color: #8491A0;
    line-height: 140px;
}
.rbworkex_tab3 p {
    font-size: 24px;
    font-weight: 700;
    padding: 5px 0;
}

.philosophy {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.text_filosophy {
    text-align: left;
    padding: 100px;
    background-color: #FFF3E4;
}
.text_filosophy h2 {
    font-weight: 700;
    font-size: 55px;
    line-height: 55px;
    color: #181823;
    padding: 24px 0;
}
.text_filosophy p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #5B6876;
    padding: 20px 0;
}
#textendinphilosophy {
    margin: 100px 0 0;
    color: #8491A0;
}

.skill {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: black;
}
.skill_text {
    text-align: left;
}
.skill_text h2{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 55px;
    line-height: 66px;
}
.skill_text p {
    color: #8491A0;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    width: 300px;
}

.tabl_skill {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 800px;
}
.colon_one {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
}
.colon_two {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
}

.one_colum_skill img, h3, p {
    padding: 5px 0;
}
.one_colum_skill h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}
.one_colum_skill p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8491A0;
}
.two_colum_skill img, h3, p {
    padding: 5px 0;
}
.two_colum_skill h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}
.two_colum_skill p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8491A0;
}

.one_colum_skill_one img, h3, p {
    padding: 5px 0;
}
.one_colum_skill_one h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}
.one_colum_skill_one p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8491A0;
}
.one_colum_skill_one img, h3, p {
    padding: 5px 0;
}
.one_colum_skill_one h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}
.one_colum_skill_one p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8491A0;
}
.two_colum_skill_two img, h3, p {
    padding: 5px 0;
}
.two_colum_skill_two h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}
.two_colum_skill_two p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8491A0;
}


.logo_after_phil ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    background-color: #000000;
    padding: 25px;
}


.myprog {
    margin: 0 auto;
    padding: 100px;
    background-color: black;
    color: white;
}
.myprog_tabl {
    display: flex;
    justify-content: space-evenly;
}

.myproge_tabl_one {
    display: flex;
    flex-direction: column;
}
.mpj_one p {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.mpj_one h3 {
    font-weight: 700;
    font-size: 55px;
    line-height: 66px;
}
.mpj_one {
    text-align: left;
    padding: 50px 0;
}
.mpj_two {
    text-align: left;
    margin: 0 auto;
    padding: 40px;
    background-color: #181823;
}
.mpj_two h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
.mpj_two p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    width: 556px;
    color: #8491A0;
}
.mpj_three {
    text-align: left;
    margin: 0 auto;
    padding: 40px;
    background-color: #181823;
}
.mpj_three h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
.mpj_three p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    width: 556px;
    color: #8491A0;
}

.myproge_tabl_two {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mpj_fore {
    text-align: left;
    margin: 0 auto;
    padding: 40px;
    background-color: #181823;
}
.mpj_fore h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
.mpj_fore p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    width: 555px;
    color: #8491A0;
}
.mpj_five {
    text-align: left;
    margin: 0 auto;
    padding: 40px;
    background-color: #181823;
}
.mpj_five h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
.mpj_five p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    width: 555px;
    color: #8491A0;
}
.mpj_six {
    margin: 100px auto;
    border: 2px solid #5221E6;
    padding: 27px;
}


.instagram {
    border: 4px solid yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.instagram_tab1 {
    text-align: left;
    margin: 0 auto;
}
.instagram_tab1 h2 {
    font-weight: 700;
    font-size: 55px;
    line-height: 66px;
    color: #181823;
    letter-spacing: 1px;
    padding: 50px 0;
}
.instagram_tab1 p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    width: 550px;
    letter-spacing: 1px;
    padding: 10px 0;
    color: #5B6876;
}
#instagram_end_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181823;
    letter-spacing: 1px;
    padding: 100px 0;
    text-decoration: underline;
}







